$font-family-sans-serif: Arial,
sans-serif;
$font-size-base: 1rem;
// $h1-font-size: 2.5rem;
$body-color: #3c3c3c;
$btn-font-size: 2rem;
$btn-padding-x: 50px;
$btn-padding-y: 20px;
$btn-border-radius: 10px;